body {
  background-color: #266138;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth; 
}

/* Menu */

.tab {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  position: fixed;
  z-index: 100;
}

/* Title of the menu */
.tab h1{
  position: absolute;
  top: -30px;
  font-size: 300%;
}

.tablinks {
  font-size: 25px;
  font-weight: 600;

  position: relative;
  
  top: 60px;
  left: -10px;
  padding: 10px 20px;
  margin: 10px;
  
  border: none;
  cursor: pointer;
  background-color: #EC7391;
  color: #cedce0;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s;
}

.tablinks:hover {
  background-color: #D14266;
  color: #2D96BC;
}

.tabcontent {
  padding: 50px;
  min-height: 900px;
}

#about h2{
  top: 70px;
  color:#266138
}

#movie h2{
  top: 70px;
  color:#266138
}

#stuff h2{
  top: 70px;
  color:#266138
}

h1, h2 {

  /* Centering title */

  position: relative;

  transform:translateX(-50%);
  left: 49.5%;
  float: left;
  clear: left;

  color: #FFBB00;
}

#p5-container {
  position: relative;
  display: absolute;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;       
}

canvas {
  position: relative;
  left: 22.25%;
  top: 150px;
  max-width: 100%;         
  height: auto;            
}

/* Video */

.tabcontent video{
  width: 55%;
  height: auto;
  position: absolute;
  top: 130%;
  left: 22%;
}

p {
  /* max-width: 850px; 
  margin: 0 auto; 
  font-size: 22px;
  color:#cedce0;
  text-align: center; */

  color:#cedce0;
  font-size: 22px;
  max-width: 850px;
  position: absolute;
  top: 187%;
  left: 26.5%;
  text-align: center;
}

.yellow-text1 {
  color:#FFBB00;
  font-size: 32px;
  max-width: 250px;
  position: absolute;
  top: 50%;
  left: 15%;
  text-align: center;
}

.yellow-text2 {
  color:#FFBB00;
  font-size: 32px;
  max-width: 250px;
  position: absolute;
  top: 50%;
  left: 71.5%;
  text-align: center;
}

.pink-text {
  color:#EC7391;
  font-size: 32px;
  max-width: 600px;
  position: absolute;
  top: 285%;
  left: 33.5%;
  text-align: center;
  
}

/* For medium screens (tablets, landscape phones) */
@media (max-width: 1024px) {
  p {
    font-size: 1.1rem; /* Slightly reduce font size */
    max-width: 90%; /* Make text container wider */
  }
}

/* For small screens (phones) */
@media (max-width: 768px) {
  p {
    font-size: 1rem; /* Further reduce font size for small screens */
    max-width: 95%;
    padding: 0.8rem; /* Adjust padding */
  }
}


